@{
    ViewData["Title"] = "CarRater";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>In order to access the website further, you must use a logged in account.</p> 
<a href="~/">Login</a>