@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>
    Created by: 908031<br />
</p>

<address>
    <strong>Available:</strong> <a href="mailto:908031@swansea.ac.uk">908031@swansea.ac.uk</a><br />
</address>
