@{
    ViewData["Title"] = "Home Page";
}

<div class="stream_show">
    <iframe src="https://player.twitch.tv/?channel=aimbotcalvin&muted=false"
            height="720"
            width="800"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">

    </iframe>
    <iframe frameborder="0"
            scrolling="yes"
            id="chat_embed"
            src="https://www.twitch.tv/embed/aimbotcalvin/chat"
            height="720"
            width="300>

    </iframe>
</div>