<!--Webpage of Users for Admin Panel-->

@model CarRater.Models.UserListViewModel

@{
    ViewData["Title"] = "AdminPanel";
}

<h2>Admin Panel: User List</h2>

<!--Table Design-->
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>

    <!--Get Users email and name-->
    <tbody>

        @foreach (var item in Model.Users)
        {
            @("Email: " + item.Email + " - " + "Username: " + item.UserName + " ")
            <br>
        }

        <br>

        <!--Number of users on Website-->
        <p>Number of Users: @Model.NumberOfUsers </p>

    </tbody>
</table>
